<h3>Inactive Users</h3>
<ul class="list-group">
    <li class="list-group-item"
    *ngFor="let user of users; let i = index">
    {{ user }} | <a href="#" (click)="onsetToActive(i)">set to Active</a>
    </li>
</ul>

