<h3>Active Users</h3>
<ul class="list-group">
    <li class="list-group-item"
    *ngFor="let user of users; let i = index">
    {{ user }} | <a href="#" (click)="onsetToInactive(i)">set to Inactive</a>
    </li>
</ul>
